.main-content p {
  text-align: justify;
}
.main-content li {
  text-align: justify;
}
.ms-container {
  display: block;
  content: "";
  clear: both;
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}
.ms-logo {
  width: 150px;
  float: left;
  padding-left: 0;
  padding-top: 20px;
}
.ms-content {
  padding-left: 50px;
  overflow: hidden;
}
